<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><% preact.title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
      .preview {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #020202;
      }
    </style>
    <% preact.headEnd %>
  </head>
  <body>
    <div data-widget-host="habitat" class="preview">
    </div>
    <% preact.bodyEnd %>
  </body>
</html>